*.pyc
*.log
node_modules
coverage/
coral_perm_demo/logs
coral_perm_demo/export_deliverables
coral_perm_demo/cantaloupe/*
coral_perm_demo/staticfiles
coral_perm_demo/media/packages
coral_perm_demo/media/build/
coral_perm_demo/uploadedfiles/*
coral_perm_demo/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
